@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  color: rgb(231, 231, 231);
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  line-height: 1.1em;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --bg-pc: rgb(24, 24, 24);
  --bg-mb: rgb(37, 37, 37);
  --main-blue: rgb(0, 174, 255);
  --main-text-color: rgb(231, 231, 231);
  --main-gradient-br: linear-gradient(to bottom right, rgb(0, 255, 106), rgb(0, 140, 255));
  --main-gradient-r: linear-gradient(to right, rgb(0, 255, 106), rgb(0, 140, 255));
  --main-gradient-b: linear-gradient(to bottom, rgb(0, 255, 106), rgb(0, 140, 255));
}

html, #root, #base, body, main {
  width: 100%;
  height: 100%;
}

body {
  background: rgb(24, 24, 24);
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  overflow-x: hidden;
}

main::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgba(206, 206, 206, 0.774);
}

h1, h3 {
  font-weight: 400;
  opacity: 0;
  animation: fade-in 500ms forwards;
}

h1 {
  font-size: 3em;
  animation-delay: 600ms;
}

h3 {
  max-width: 400px;
  margin: 40px auto 0 auto;
  font-style: italic;
  font-size: 1.7em;
  text-align: center;
  animation-delay: 1800ms;
}

img, span, video {
  display: block;
}

button {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  transition-duration: 300ms;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

button[type="submit"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button[type="submit"].off {
  opacity: 50%;
}

button[type="submit"] span {
  color: white;
  font-size: 1.2em;
  opacity: 100%;
  transition-duration: 200ms;
}

button[type="submit"].off span {
  opacity: 0;
}

button[type="submit"] .loading {
  position: absolute;
  height: 50%;
  opacity: 0;
  transition-duration: 200ms;
}

button[type="submit"].off .loading {
  opacity: 100%;
}

.loading {
  animation: loading 1000ms ease-in-out infinite;
}

header {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  height: 50px;
  padding: 0 10px;
  background-color: rgba(24, 24, 24, 0.9);
}

#main_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: max-content;
  min-height: 700px;
  transition-duration: 500ms;
}

.side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 120px 0;
}

.side.left {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 120px 60px 50px 10vw;
  width: 58vw;
  height: 100%;
}

.side.right {
  position: fixed;
  top: 0;
  right: 10px;
  width: calc(42vw - 10px);
  height: 100%;
  padding: 0 20px;
}

.divisor {
  content: '';
  height: 4px;
  width: 0;
  border-radius: 10px;
  background: var(--main-gradient-r);
  animation-duration: 500ms;
  animation-delay: 200ms;
}

.title-divisor {
  margin-top: 8px;
  margin-bottom: 40px;
  animation: title-divisor 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 200ms;
}

.subtitle-divisor {
  margin: 10px auto;
  animation: subtitle-divisor 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1400ms;
}

.more-home-divisor {
  display: none;
  margin: 50px auto 25px auto;
  animation: home-more-divisor-in 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1200ms;
}

.formation-divisor {
  width: 10vw;
  min-width: 100px;
  margin: 10px 0 5px 20px;
  opacity: 0;
  animation: fade-in 1000ms ease-out forwards 2000ms;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 250px;
  height: 100%;
  padding: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(56, 56, 56);
  transform: translateX(-200px);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

#menu.on {
  transform: none;
}

#menu.on .icon-ctn {
  transform: translateX(-200px);
}

#menu.on .list-ctn {
  opacity: 100%;
  visibility: visible;
  transition-delay: 600ms;
}

#menu nav {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

#menu nav::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

#menu .ctn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: max-content;
  border-radius: 15px;
}

#menu .icon-ctn {
  right: 0;
  width: 40px;
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#menu .list-ctn {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition-duration: 300ms;
}

#menu .ctn button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 15px;
  background: rgb(56, 56, 56);
  transition-duration: 200ms;
  box-shadow: none;
  font-size: 1em;
}

#menu .ctn button:first-child {
  margin-top: 5px;
}

#menu .icon-ctn button {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

#menu .list-ctn button {
  width: 100%;
  height: 40px;
}

#menu .ctn button img {
  pointer-events: none;
  transition-duration: 200ms;
}

#menu .icon-ctn button img {
  width: 20px;
}

#menu .list-ctn button img {
  position: absolute;
  align-self: flex-start;
  width: 20px;
  margin-left: 10px;
}

#menu .ctn button a {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

#menu .box:last-child {
  margin: 40px 0 10px 0;
}

#menu .off-item {
  pointer-events: none;
  position: relative;
}

#menu .off-item button {
  color: gray;
}

#menu .off-item img {
  opacity: 50%;
}

#menu .off-item::after {
  position: absolute;
  right: 5px;
  color: rgb(215, 215, 0);
}

#menu .list-ctn .off-item::after {
  content: '⚠ disponível após o Enem';
  bottom: -7px;
  font-size: 0.6em;
}

#menu .icon-ctn .off-item::after {
  content: '!';
  bottom: 3px;
  transition-delay: 500ms;
}

#menu.on .icon-ctn .off-item::after {
  opacity: 0;
}

#menu_icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  cursor: pointer;
  padding: 8px 0px;
  transition: background-color 200ms linear 200ms;
} /* ok */

#menu_icon.on {
  background-color: transparent;
}

#menu_icon .line {
  pointer-events: none;
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  transform: none;
  transition-duration: 500ms;
} /* ok */

#menu_icon.on .line:nth-child(1) {
  transform: rotate(45deg) translateY(10px);
  margin-left: 14px;
} /* ok */

#menu_icon.on .line:nth-child(2) {
  transform: scale(0);
  margin-left: 14px;
} /* ok */

#menu_icon.on .line:nth-child(3) {
  transform: rotate(-45deg) translateY(-10px);
  margin-left: 14px;
} /* ok */

#intro_title_ctn .more {
  max-width: fit-content;
  margin-top: 10px;
  height: max-content;
  animation: fade-in 800ms ease-out forwards 1500ms;
  opacity: 0;
}

#intro_title_ctn .more p {
  font-size: 1.3em;
  text-align: justify;
  opacity: 80%;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
  white-space: wrap;
  text-justify: distribute;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

#intro_title_ctn .more p.hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition-duration: 800ms;
}

#intro_title_ctn.on .more p.hide {
  visibility: visible;
  opacity: 80%;
  max-height: 300px;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1000ms;
}

#intro_title_ctn button {
  position: relative;
  padding: 10px 15px;
  float: right;
  z-index: 1;
  width: 250px;
  border-radius: 50px;
  background-image: linear-gradient(to bottom right, rgb(0, 210, 88), rgb(0, 103, 187));
  margin-top: 10px;
}

#intro_title_ctn button::after {
  font-size: 1.2em;
  content: 'Saiba Mais';
  transition-delay: 200ms;
}

#intro_title_ctn.on button {
  width: 150px;
}

#intro_title_ctn.on button::after {
  content: 'Recolher';
}

#intro_title_ctn {
  opacity: 0;
  animation: intro-title-bx-in 2000ms ease-out forwards 200ms;
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

#intro_title_box {
  display: flex;
  flex-direction: row;
}

#intro_title_ctn.on {
  margin-bottom: 5vh;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#intro_title_ctn h1 {
  margin: 0;
  font-size: 5.5em;
  font-weight: 500;
  line-height: 0.9em;
  opacity: 100%;
  background: var(--main-gradient-br);
  background-clip: text;
  animation: none;
  -webkit-text-fill-color: transparent;
}

#intro_title_ctn h2 {
  margin-top: auto;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.1em;
}  

#intro_title_box .home-divisor {
  width: 3px;
  height: 150px;
  margin: 0 20px;
  margin-top: auto;
  border-radius: 10px;
  background: rgb(231, 231, 231);
}

#cv_ctn::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 0;
  border-radius: 50px;
  background: rgb(0, 140, 255);
  background: var(--main-gradient-r);
  animation: cv-ctn-divisor 500ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 200ms;
}

#cv_ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 465px;
  max-width: calc(100% - 40px);
  height: fit-content;
  margin-top: 30px;
}

#cv_ctn p {
  margin: 15px 5px;
  font-size: 1.1em;
  text-align: justify;
  opacity: 0;
  animation: fade-in 800ms ease-out forwards 700ms;
}

#cv_ctn button {
  float: right;
  align-self: flex-end;
  border-radius: 15px;
  /* background: linear-gradient(to bottom right, red, blue); */
  background-image: linear-gradient(to left, rgb(199, 0, 199), rgb(0, 47, 255));
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

#cv_ctn button a {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 45px;
  height: 40px;
}

#cv_ctn button img {
  height: 20px;
  pointer-events: none;
}

#header_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  transition-duration: 200ms;
}

#header_contact .box {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header_contact .location, .contact-box.location {
  position: relative;
  cursor: pointer;
  z-index: 1;
}

#header_contact .location *, .contact-box.location * {
  transition-duration: 300ms;
}

#header_contact .location .x, .contact-box.location .x {
  width: 10px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

#header_contact .location .map, .contact-box.location .map {
  pointer-events: none;
  cursor: default;
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition-duration: 300ms;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 40px;
  background: #000;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}

#header_contact .location.on .hide, .contact-box.location.on .hide {
  visibility: hidden;
  opacity: 0;
}

#header_contact .location.on .x, .contact-box.location.on .x {
  opacity: 100%;
  visibility: visible;
}

#header_contact .location.on .map, .contact-box.location.on .map {
  pointer-events: all;
  visibility: visible;
  opacity: 100%;
}

@media (min-width: 500px) {

  #header_contact .location:hover > img:first-child, .contact-box.location:hover > img:first-child {
    transform: rotate(-30deg) translate(2px, -5px);
  }

  #header_contact .location:hover .hand, .contact-box.location:hover .hand {
    transform: translateY(-10px);
  }

}

#header_contact .location > img:first-child, .contact-box.location > img:first-child {
  transition-delay: 200ms;
}

#header_contact .location .hand, .contact-box.location .hand {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

#header_contact .box img {
  width: 18px;
  margin-right: 10px;
}

#header_contact span {
  display: block;
  font-family: arial;
  font-weight: bold;
  font-size: 0.8em;
  margin-right: 15px;
}

#header_contact p {
  font-size: 1.1em;
}

header .home-contact {
  display: none;
  top: 0;
  right: 0;
  bottom: unset;
  left: unset;
  margin: 0;
  margin-top: 9px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: none;
  opacity: 0;
  transition-duration: 200ms;
  background: rgb(61, 61, 61);
  animation: fade-in 1000ms ease-out forwards 1500ms;
}

header .home-contact a {
  min-width: 200px;
  height: 35px;
  padding: 0 15px;
}

header .home-contact span {
  font-size: 1em;
}

header .home-contact img {
  height: 15px;
  margin-right: 10px;
}

header .home-contact img:last-child {
  position: absolute;
  height: 10px;
  right: 10px;
}

.home-contact {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10vw;
  margin-bottom: 50px;
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgb(51, 51, 51), rgb(41, 41, 41));
  opacity: 0;
  animation: fade-in 1000ms ease-out forwards 1500ms;
}

.home-contact a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25vw;
  min-width: 250px;
  height: 50px;
  padding: 0 20px;
}

.home-contact span {
  font-size: 1.3em;
}

.home-contact img {
  height: 20px;
  margin-right: 15px;
}

.home-contact img:last-child {
  position: absolute;
  height: 15px;
  right: 15px;
}

.formation-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 2vw 20px 2vw;
  padding: 15px 20px 15px 50px;
  border-radius: 20px;
  opacity: 0;
  animation: fade-in 1000ms ease-out forwards 2000ms;
}

.formation-item img {
  position: absolute;
  left: 0;
  height: 20px;
}

.formation-item .name {
  max-width: 50%;
  font-size: 1.5em;
}

.formation-item .certificate {
  margin-top: 5px;
  color: cyan;
}

.formation-item .school {
  position: absolute;
  right: 20px;
  max-width: 50%;
  font-style: italic;
  font-size: 1.4em;
  text-align: end;
}

.formation-item .date {
  max-width: 50%;
  margin-top: 2px;
  color: rgb(181, 181, 181);
  font-size: 1.1em;
}

.formation-item .date strong {
  color: rgb(181, 181, 181);
  font-size: 1.1em;
  font-weight: normal;
  font-style: italic;
}

.item-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-bottom: 10px;
}

.item-box span {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px 15px;
  border-radius: 20px;
  border: 1px solid rgb(87, 87, 87);
  background-color: rgb(42, 42, 42);
  font-size: 1.2em;
  opacity: 0;
  width: max-content;
  transform: translateX(-5px);
  transition-duration: 1000ms;
  transition-timing-function: ease-out;
}

.item-box span::first-letter {
  text-transform: uppercase;
}

.item-box span.on {
  opacity: 100%;
  transform: none;
}

.item-box img {
  height: 12px;
  margin-right: 10px;
}

#cs_ctn {
  margin: 0 auto;
  opacity: 0;
  animation: fade-in 1000ms ease-out forwards 1000ms;
}

#cs_ctn span {
  display: block;
  font-size: 8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 0.8em;
  opacity: 30%;
  animation: cs-ctn-alternate 4000ms linear infinite;
}

#cs_ctn span:nth-child(1) {
  --opacity-1: 100%;
  --opacity-2: 30%;
  --opacity-3: 30%;
  --opacity-4: 30%;
}

#cs_ctn span:nth-child(2) {
  --opacity-1: 30%;
  --opacity-2: 100%;
  --opacity-3: 30%;
  --opacity-4: 30%;
}

#cs_ctn span:nth-child(3) {
  --opacity-1: 30%;
  --opacity-2: 30%;
  --opacity-3: 100%;
  --opacity-4: 30%;
}

#cs_ctn span:nth-child(4) {
  --opacity-1: 30%;
  --opacity-2: 30%;
  --opacity-3: 30%;
  --opacity-4: 100%;
}

.label-float {
  position: relative;
  width: 100%;
  margin-top: 15px;
  padding-top: 10px;
} /* ok */

/* LABEL FLOAT LABEL */

.label-float label {
  position: absolute;
  display: block;
  pointer-events: none;
  top: 0;
  left: 0;
  max-width: 80%;
  margin-top: 35px;
  margin-left: 15px;
  padding: 0;
  font-size: 1em;
  color: rgb(216, 216, 216);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 200ms ease-out, color 0ms ease-out, font-size 200ms ease-out;
} /* ok */

.label-float .input:focus + label {
  margin: 0;
  margin-left: 5px;
  font-size: 0.9em;
  color: yellow;;
} /* ok */

.label-float .input:not(:placeholder-shown) + label {
  margin: 0;
  margin-left: 5px;
  font-size: 0.9em;
  color: yellow;
} /* ok */

/* LABEL FLOAT .input */

.label-float .input {
  width: 100%;
  min-width: 100%;
  margin-top: 10px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding-top: 1px;
  -webkit-appearance: none;
  height: 45px;
  border-radius: 10px;
  padding: 0 20px;
  background: rgb(56, 56, 56);
  color: rgb(255, 255, 255);
  caret-color: yellow;
  border: 1px solid var(--main-blue);
} /* ok */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.label-float .input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
}

.label-float .input::placeholder {
  color: transparent;
} /* ok */

.label-float .input:-webkit-autofill {
  box-shadow: 0 0 0 30px rgb(255, 255, 255) inset;
} /* ok */

.label-float .input:-webkit-autofill {
  -webkit-text-fill-color: rgb(0, 0, 0);
} /* ok */

#search_bar_form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-left: 15vw;
} /* ok */

#search_bar_form * {
  font-family: arial;
}

#search_bar {
  width: 307px;
  height: 28px;
  padding: 0 15px;
  border: 1px solid rgb(66, 66, 66);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgb(56, 56, 56);
  color: rgb(228, 228, 228);
  transition-duration: 300ms;
} /* ok */

#search_bar::placeholder {
  color: rgb(200, 200, 200);
} /* ok */

#search_bar:focus {
  border: 1px solid rgb(4, 0, 255);
} /* ok */

#search_bar ~ .x {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 10px; */
  opacity: 0;
  width: 40px;
  height: 100%;
  visibility: hidden;
  transition-duration: 300ms;
} /* ok */

#search_bar ~ .x > img {
  display: block;
  width: 12px;
} /* ok */

#search_bar:focus ~ .x {
  opacity: 100%;
  visibility: visible;
} /* ok */

#search_bar ~ .x:active {
  opacity: 100%;
  visibility: visible;
} /* ok */

#search_bar ~ .arrow-back {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60px;
  height: 100%;
} /* ok */

#search_bar_form button[type="submit"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 28px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(40, 40, 40);
  box-shadow: none;
} /* ok */

#search_bar_form button[type="submit"] img {
  position: absolute;
  width: 12px;
  margin-right: 3px;
  transition-duration: 300ms;
} /* ok */

#search_bar_form button[type="submit"] img:nth-child(2) {
  transform: rotate(-180deg);
  opacity: 0;
  visibility: hidden;
} /* ok */

#search_bar_form button[type="submit"]:hover img:nth-child(1) {
  transform: rotate(180deg);
  opacity: 0;
  visibility: hidden;
} /* ok */

#search_bar_form button[type="submit"]:hover img:nth-child(2) {
  transform: rotate(0);
  opacity: 100%;
  visibility: visible;
} /* ok */

#datalist {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 100%;
  width: calc(100% - 32px);
  padding: 10px 0;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(36, 36, 36, 0.989);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
  transition-duration: 100ms;
} /* ok */

#search_bar:focus ~ #datalist {
  opacity: 100%;
  visibility: visible;
} /* ok */

#datalist:active {
  opacity: 100%;
  visibility: visible;
} /* ok */

#datalist li {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition-duration: 200ms;
} /* ok */

#datalist li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 30px;
  width: 100%;
  padding: 0 50px;
  font-size: 1em;
  color: white;
  transition-duration: 200ms;
} /* ok */

#datalist li span.on {
  cursor: pointer;
  background-color: #1900ff81;
} /* ok */

#datalist li img {
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  left: 0;
  width: 15px;
  margin: 0 20px;
  transition-duration: 300ms;
} /* ok */

#datalist li.history {
  flex-direction: row-reverse;
} /* ok */

#datalist li.history .delete-icon {
  pointer-events: all;
  left: unset;
} /* ok */

#datalist li.history .delete-icon:hover ~ span {
  background-color: rgba(255, 0, 0, 0.74);
} /* ok */

#datalist li.history img:nth-child(4) {
  transform: rotate(180deg);
  opacity: 0;
  visibility: hidden;
} /* ok */

#datalist li.history span.on ~ img:nth-child(3) {
  transform: rotate(180deg);
  opacity: 0;
  visibility: hidden;
} /* ok */

#datalist li.history span.on ~ img:nth-child(4) {
  transform: rotate(360deg);
  opacity: 100%;
  visibility: visible;
} /* ok */

#datalist .no-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  pointer-events: none;
  margin: 0 20px;
  font-family: arial, Geneva, Tahoma, sans-serif;
  font-size: 0.9em;
  min-height: 30px;
  color: white;
} /* ok */

#datalist .sub-option-container {
  display: block;
  pointer-events: none;
  cursor: default;
  min-height: unset;
  padding: 0 20px;
  background-color: transparent;
} /* ok */

#datalist .sub-option-container .option {
  pointer-events: all;
  cursor: pointer;
  max-width: 100%;
  margin: 2px 5px 4px 0;
  padding: 5px 12px;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 20px;
  background-color: rgb(51, 51, 51);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em !important;
  color: white;
  overflow-x: hidden;
  overflow-wrap: break-word;
  transition-duration: 200ms;
} /* ok */

#datalist .sub-option-container .option::first-letter {
  text-transform: uppercase;
} /* ok */

#datalist .sub-option-container .option:hover {
  border-color: transparent;
  background-color: #1900ff81;
} /* ok */

p.default {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  font-size: 1.5em;
  text-align: justify;
  text-indent: 5vw;
  line-height: normal;
  opacity: 0;
  animation: fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1000ms;
}

p.default > img, p.default > video {
  position: relative;
  max-width: calc(100% - 70px);
  max-height: 500px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: 2px solid rgb(0, 187, 255);
  opacity: 0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3);
  animation: fade-in 1000ms ease-out forwards 1500ms;
}
button.link-content {
  width: 100%;
  height: 40px;
  max-width: 300px;
  margin: 0 40px 20px auto;
  padding: 10px 15px;
  border-radius: 10px;
}

button.link-content a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

button.link-content span {
  max-width: 100%;
  font-size: 1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

button.link-content img {
  width: 20px;
  margin-right: 20px;
}

button.link-content.download {
  background-color: rgb(0, 16, 235);
}

button.link-content.github {
  background-color: rgb(66, 59, 59);
}

@media (max-width: 599px) {
  p.default > img, p.default > video {
    max-width: 100%;
  }
}

p.default > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  text-indent: 0;
  font-size: 0.6em;
  color: var(--main-blue);
}

.illustration_ctn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fade-in 1000ms ease-out forwards 1000ms;
}

.illustration_ctn img {
  width: 34vw;
  max-width: 550px;
  margin-top: 50px;
}

.illustration_ctn a {
  position: absolute;
  bottom: -40px;
  display: block;
  font-size: 0.8em;
}

.illustration_ctn span {
  display: none;
  margin-top: 5px;
  font-size: 0.8em;
}

.icon-box {
  position: relative;
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 33px;
  height: 33px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
}

.icon-box img {
  height: calc(100% - 15px);
}

.contact-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 15px 20px;
  animation: fade-in 1000ms ease-out forwards 1500ms;
  opacity: 0;
}

.contact-box img {
  width: 20px;
  margin-right: 15px;
}

.contact-box img:last-child {
  position: absolute;
  left: 100%;
  top: 50%;
  margin-left: 20px;
  display: none;
}

.contact-box a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-box span {
  font-size: 1.3em;
  color: var(--main-blue);
}

#contact_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  opacity: 0;
  animation: fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1000ms;
}

#contact_divisor {
  width: 40%;
  height: 4px;
  margin: 20px 0;
  border-radius: 10px;
  background: var(--main-gradient-br);
}

#contact_form button[type="submit"] {
  width: 160px;
  height: 35px;
  margin-top: 25px;
  border-radius: 15px;
  background-image: linear-gradient(to left, rgb(199, 0, 199), rgb(0, 47, 255));
  align-self: flex-end;
  transition-duration: 200ms;
}

#contact_form button[type="submit"]:hover {
  transform: translateY(-5px);
}

#contact_form button[type="submit"]:active {
  transform: translateY(2px);
}

.calcbro-divisor {
  width: 60%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(128, 128, 128);
  margin: 10px auto;
}

#menu_ctn {
  position: absolute;
}

#menu .icon-ctn .calcbro-divisor {
  transition-duration: 500ms;
  transition-delay: 200ms;
}

#menu.on .icon-ctn .calcbro-divisor {
  opacity: 0;
}

#menu .header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  border-top-right-radius: 15px;
  display: none;
}

#message_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 250;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
} /* ok */

.message-box {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  width: 400px;
  max-width: calc(100vw - 20px);
  margin: 5px 0;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  opacity: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.212);
  transition-duration: 200ms;
} /* ok */

.message-box.on {
  animation: fade-in-down 200ms ease-out forwards;
}

.message-box.off {
  animation: fade-out-up 200ms ease-in forwards;
}

.message-box span {
  display: block;
  margin: 0 10px;
  font-family: arial;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
} /* ok */

.message-box span::first-letter {
  text-transform: capitalize;
} /* ok */

.message-box.normal {
  background-color: rgb(255, 255, 255);
} /* ok */

.message-box.normal span {
  color: black;
} /* ok */

.message-box.red {
  background-color: rgb(255, 0, 0);
} /* ok */

.message-box.red span {
  color: white;
} /* ok */

.message-box.green {
  background-color: rgb(0, 233, 0);
} /* ok */

.message-box.green span {
  color: white;
} /* ok */

#follow_to {
  width: 100%;
  margin-top: 40px;
}

#follow_to.home {
  display: none;
  width: calc(100% - 80px);
}

#follow_to span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
  font-weight: 400;
}

#follow_to span img {
  height: 15px;
  margin: 0 10px;
}

#follow_to .box {
  width: 300px;
  padding: 5px;
  margin: 20px 0 0 40px;
  border-radius: 15px;
  background-color: rgb(56, 56, 56);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
}

#follow_to button {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-size: 1em;
  background-color: rgb(56, 56, 56);
  box-shadow: none;
  text-transform: capitalize;
}

#follow_to button img {
  position: absolute;
  left: 15px;
  width: 20px;
}

#follow_to button.calcbro img {
  width: unset;
  height: 20px;
}

@keyframes title-divisor {
  from {
    width: 0;
    min-width: 0;
  }
  to {
    width: 40%;
    min-width: 300px;
  }
}

@keyframes subtitle-divisor {
  from {
    width: 0;
    min-width: 0;
  }
  to {
    width: 30%;
    min-width: 250px;
  }
}

@keyframes cv-ctn-divisor {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes home-more-divisor-in {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fade-in-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 100%;
  }
}

@keyframes fade-in-down {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0px);
      opacity: 100%;
  }
}

@keyframes fade-out-up {
  from {
    transform: translateY(0px);
    opacity: 100%;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes cs-ctn-alternate {
  0%    {opacity: var(--opacity-1)}
  22%   {opacity: var(--opacity-1)}
  25%   {opacity: var(--opacity-2)}
  46%   {opacity: var(--opacity-2)}
  50%   {opacity: var(--opacity-3)}
  72%   {opacity: var(--opacity-3)}
  75%  {opacity: var(--opacity-4)}
  96%  {opacity: var(--opacity-4)}
  100%  {opacity: var(--opacity-1)}
}

@keyframes intro-title-bx-in {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  40% {
    opacity: 100%;
    transform: translateY(15%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg)
  }
}

@media (max-width: 1199px) {
  #follow_to.home {
    display: block;
  }
  /* h1 {
    margin: 0 auto;
  }

  .title-divisor {
    margin-left: auto;
    margin-right: auto;
  } */

  button.link-content {
    margin-left: auto;
    margin-right: auto;
  }

  .home-contact {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  #cv_ctn {
    width: calc(100% - 80px);
    max-width: 750px;
    margin-top: 70px;
  }
  
  #cv_ctn::before {
    width: 300px;
    max-width: 40%;
  }
  
  #cv_ctn p {
    text-align: left;
    font-size: 1.3em;
    margin: 20px 5px 0 5px;
  }
  
    #cv_ctn button {
      margin-top: 10px;
    }

  #intro_title_ctn.on {
    margin-top: -3vh;
    margin-bottom: 0;
  }

  #cs_ctn {
    display: none;
  }

  .side.right {
    position: relative;
    right: 0;
    width: 100%;
    height: unset;
    padding: 0 !important;
    padding-bottom: 100px !important;
  }
  
  .illustration_ctn {
    padding-bottom: 80px;
  }

  .illustration_ctn a {
    position: relative;
    bottom: -20px;
  }

  .illustration_ctn img {
    width: 80vw;
  }
  
  .side.left {
    padding-top: 100px !important;
    width: 800px;
    max-width: 100%;
    padding-left: 40px !important;
    padding-right: 40px !important;
    margin: 0 !important;
    height: 100% !important;
  }

  #main_container {
    flex-direction: column;
  }

  #header_contact {
    position: absolute;
    right: 0;
  }

  #menu {
    transform: translateX(-260px);
  }

  #menu nav {
    height: calc(100% - 50px)
  }

  #menu .ctn {
    transition-duration: 0ms;
    transition-delay: 400ms;
  }
  
  #menu.on .ctn {
    transition-delay: 0ms;
  }

  #menu .icon-ctn .calcbro-divisor {
    visibility: hidden;
    transition-duration: 0ms;
    transition-delay: 0ms;
  }

  .icon-box {
    display: flex !important;
  }

  #menu .header {
    display: block;
  }

  #intro_title_ctn {
    margin-bottom: auto;
    animation: fade-in 2000ms ease-out forwards 200ms;
  }

  header {
    justify-content: flex-start;
  }

  #search_bar_form {
    position: absolute;
    display: none;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
} /* ok */

#search_bar {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border-radius: 0;
    font-size: 0.9em;
    background-color: #202020;
} /* ok */

#search_bar:focus {
    border: none;
} /* ok */

#search_bar ~ button[type="submit"] {
    display: none;
} /* ok */

#search_bar ~ .x {
    position: absolute;
    z-index: 1;
} /* ok */

#search_bar ~ .arrow-back {
    position: absolute;
    display: flex;
    right: 0;
    opacity: 80%;
} /* ok */

#search_bar ~ .arrow-back > img {
    display: block;
    width: 8px;
    margin-left: 5px;
} /* ok */

#datalist {
    top: 100%;
    width: 100%;
    height: 100vh;
    padding: 0;
    border-radius: 0;
    background-color: #202020;
    box-shadow: none;
    overflow-y: auto;
} /* ok */

#datalist::-webkit-scrollbar {
    width: 6px;
    border-radius: 20px;
    background-color: transparent;
} /* ok */

#datalist::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: rgb(133, 8, 190);
} /* ok */

#datalist::-webkit-scrollbar-thumb:active {
    background-color: rgb(174, 0, 255);
} /* ok */

#datalist li span {
  min-height: 35px;
}

#datalist li .option {
    font-size: 1em;
} /* ok */

}

@media (max-width: 700px) {
  #intro_title_ctn button {
    display: none;
  }
  #intro_title_ctn .more {
    opacity: 100%;
    animation: none;
  }
  #intro_title_ctn .more p {
    opacity: 0;
    animation: fade-in-up 1000ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards 1500ms;
  }
  #intro_title_ctn .more p.hide {
    max-height: unset;
    visibility: visible;
    opacity: 0;
  }
  .more-home-divisor {
    display: block;
  }
  .formation-item .school {
    position: relative;
    right: unset;
    max-width: 100%;
    font-size: 1.2em;
    text-align: start;
  }

  .formation-item .certificate {
    margin-top: 10px;
  }

  .formation-item .name, .formation-item .date {
    max-width: 100%;
  }

  .formation-divisor {
    margin-left: 0;
  }

  .side.right {
    padding-bottom: 40px !important;
  }

  #intro_title_ctn button {
    width: 50%;
  }

  #header_contact {
    visibility: hidden;
    opacity: 0;
  }

  .home-contact {
    animation: none;
  }

  header .home-contact {
    display: block;
  }

  #intro_title_box {
    flex-direction: column;
  }

  #intro_title_ctn {
    width: 100%;
  }

  #intro_title_box .home-divisor {
    width: 330px;
    max-width: 90%;
    height: 4px;
    margin: 10px 0;
  }

  #intro_title_ctn .more {
    margin-top: 20px;
  }
}

@media (max-width: 499px) {
  button:hover {
    filter: none;
    transform: none !important;
  }
  .item-box span {
    border: 1px solid rgb(96, 96, 96);
    background-color: rgb(53, 53, 53);
  }
  #follow_to.home {
    margin-left: 0;
  }
  #cv_ctn {
    width: calc(100% - 40px);
  }
  #cv_ctn::before {
    height: 4px;
  }
  main::-webkit-scrollbar {
    width: 0px;
  }

  .side.left {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  body {
    background: rgb(35, 35, 35);
  }
  #menu {
    background: rgb(70, 70, 70);
  }
  #menu .ctn button {
    background: rgb(70, 70, 70);
  }
  #follow_to.home {
    width: 100%;
  }
  #follow_to .box {
    background-color: rgb(70, 70, 70);
    margin: 20px auto 0 auto;
  }
  #follow_to button {
    background-color: rgb(70, 70, 70);
  }
  header {
    background-color: rgba(35, 35, 35, 0.9);
    width: 100%;
  }
  button {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  }
  button.link-content {
    margin-top: 10px;
  }
}
